# Ignorar apenas os datasets locais
com_erros/
sem_erros/

# Ficheiros compilados
*.o
main
*.out

# Ficheiros de logs
*.log

# Ignorar scripts e ficheiro de resumo
scripts/
compare_summary.json

last_test_report.txt
out_after_debug_removal.txt
out_after_fix.txt
out.txt
